// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-clap-count {
	position: absolute;
	left: 5px;
}
#comment-index {
	position: relative;
	height: 800px;
	overflow-y: auto;
	overflow-x: hidden;
}
.comment-item {
	position: relative;
	aside {
		position: absolute;
	}
}
.comment-page {
	width: 250px;
}
.comment-item-username {
	color: darkgreen;
	font-size: 1.3em;
	font-weight: 700;
}
