// grid

.container {
	display: grid;
	grid-template-rows: 0.5fr 1.2fr 1.2fr 1fr 0.5fr;
	grid-template-columns: 0.3fr 1.5fr 2fr 0.3fr;
	height: 100vh;
	grid-gap: 0.2rem;
	grid-template-areas:
		"header header header header header"
		". main main sidebar ."
		". main main . ."
		". . . . . ";
}
@media only screen and (max-width: 800px) {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#header {
		// margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		.nav-links {
			position: inherit;
			width: 60vw;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-items: flex-end;
		}
		.message {
			position: inherit;
			width: 100vw;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			h2 {
				margin: 0;
				padding: 0;
			}
			#logout {
				width: 70px;
				padding: 0;
				top: 4px;
				font-weight: 600;
				background-color: #b4786b;
				padding: 2px 3px;
				border: 0;
			}
		}
		.logo {
			width: 60vw;
			font-size: 1em;
			text-align: center;
			h1 {
				font-size: 1.8em;
			}
		}
	}
	#demo-button {
		margin-top: 10px;
		margin-bottom: 15px;
	}
	#session-form {
		#session-errors {
			bottom: 15%;
		}
	}
}
