#header {
	border-bottom: 1px solid darkgrey;
	grid-area: header;

	h1 {
		// width: 400px;
		display: block;
		margin: 20px auto;
	}

	.nav-links {
		// border: 1px solid black;
		border-bottom: none;
		position: fixed;
		right: 10%;
		top: 65px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		a {
			position: relative;
			text-align: center;
			padding: 5px 10px;
			margin-left: 5px;
			margin-bottom: 5px;
			// color: black;
			text-decoration: none;
			font-weight: bold;
			border: 1px solid darkgrey;
			border-radius: 5px;
		}
		#login {
			color: rgb(46, 46, 46);
		}
		#signup {
			color: rgb(204, 204, 204);
			background-color: #131917;
		}
	}
	.message {
		position: absolute;
		right: 0%;
		top: 40px;
		display: flex;
		flex-direction: row;
		width: 400px;
		justify-content: space-between;
		h2 {
			position: relative;
			text-align: center;
			padding: 5px 10px;
			margin: 0;
			font-weight: 500;
			font-size: 1.4em;
			color: #5f6468;
			a {
				padding-left: 5px;
				font-weight: 550;
				font-size: 2em;
				color: #131917;
				text-decoration: none;
			}
		}
		#logout {
			border: 0;
			background-color: transparent;
			color: #131917;
			font-weight: 600;
			position: relative;
			top: 35px;
			left: 10px;
			text-align: center;
			padding: 5px 10px;
			cursor: pointer;
			height: 30px;
			border-radius: 3px;
			background-color: #2d424a;
			color: lightgray;
		}
		#nav-util {
			font-size: 1.5em;
			position: fixed;
			right: 160px;
			top: 87px;
			display: flex;
			justify-content: space-between;
			color: grey;
			width: 65px;
			.bookmark-icon {
				cursor: pointer;
			}
			.bell-icon {
				cursor: pointer;
			}
		}
	}
	.logo {
		text-decoration: none;
		text-align: center;
		color: #131917;
		font-size: 1.3em;
	}
}
