#entrance-header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr; //space || main || spacwe
	grid-template-rows: 1fr; //header ||main
	height: auto;
	width: 90vw;
	margin: 0 auto;
	grid-gap: 15px;
	grid-template-areas: "logo .  nav ";

	.logo {
		grid-area: logo;
	}

	.nav-links {
		grid-area: nav;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-end;
	}
}
