#entrance-header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1fr 3fr; //space || main || spacwe
	grid-template-rows: 1fr; //header ||main
	height: auto;
	width: 80vw;
	margin: 0 auto;
	grid-gap: 15px;
	grid-template-areas: "logo nav ";

	.logo {
		margin-top: 25px;
		grid-area: logo;
	}

	.nav-links {
		width: 15vw;
		margin-left: 75%;
		grid-area: nav;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-end;
	}
	.message {
		grid-area: nav;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
}

#user-header {
	grid-area: header;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 2fr 2fr;
	grid-gap: 10px;
	width: 80vw;
	margin: 0 auto;
	grid-template-areas: "info . nav";
	border-bottom: 1px solid gray;

	.user-h-info {
		grid-area: info;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: baseline;
		margin-top: 25px;
	}
	nav {
		grid-area: nav;
		a {
			margin-left: 85%;
			font-size: 2vw;
			display: block;
			margin-top: 35px;
		}
	}
}
