#user-dropdown-div {
	position: realtive;
	margin-left: 100px;

	#user-dropdown-toggle {
		border-radius: 50%;
		font-size: 2.5em;
		border: 0;
		height: 65px;
		width: 65px;
		cursor: pointer;
		margin-right: 13px;
		background-color: #dac6b4;
	}

	#user-dropdown-nav {
		position: absolute;
		top: 75px;
		right: 9px;
		width: 200px;

		// display: flex;
		// flex-direction: column;
		// align-items: center;

		#dropdown-triangle {
			height: 0;
			width: 0;
			margin: 5px auto;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 8px solid gray;

			div {
				margin: 0 auto;
				height: 0;
				width: 0;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid white;
				position: relative;
				right: 7px;
				top: 1.5px;
			}
		}

		#user-dropdown-info {
			background-color: white;
			border-bottom: 1px solid lightgray;
			padding-top: 15px;
			padding-bottom: 15px;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			div {
				margin-top: 8px;
			}
			#dropdown-username {
				font-weight: 500;
			}
			#dropdown-profile-link {
				text-decoration: none;
				color: #5f6468;
				font-weight: 400;
				font-size: 0.8em;
			}

			p {
				margin: 0;
			}
			h2 {
				text-align: center;
				padding: 0;
				font-size: 2em;
				border-radius: 50%;
				background-color: #dac6b4;
				height: 45px;
				width: 45px;
			}
		}

		ul {
			color: #5f6468;
			font-weight: 450;
			margin-top: 0;
			background-color: white;
			border-bottom: 2px solid lightgray;
			border-radius: 0 0 3px 3px;
			list-style-type: none;
			padding-inline-start: 15px;
			height: 200px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			p {
				margin: 0;
			}
			a {
				text-decoration: none;
				color: #5f6468;
			}
			#contact-me {
				font-weight: 600;
				color: #b4786b;
        cursor: pointer;
        
			}
			button {
				border: 0;
				padding: 0;
				color: #5f6468;
				font-size: 16px;
				margin-bottom: 20px;
				cursor: pointer;
			}
		}
	}
}
