#main {
	grid-area: main;
	// border: 1px solid gray;

	display: grid;
	grid-template-columns: 1.5fr 1.5fr 1fr;
	grid-template-rows: 500px 350px 1fr;
	height: auto;
	width: 100vw;
	margin: 0 auto;
	grid-gap: 75px;
	grid-template-areas:
		"feed-header feed-header feed-header"
		"the-sixes the-sixes the-sixes"
		"feed-div feed-div feed-div";

	// border: 1px solid gray;
}

.feed-header {
	grid-area: feed-header;
	display: grid;
	width: 90vw;
	margin: 0 auto;
	grid-template-rows: 1fr;
	grid-template-columns: 4fr 2fr;
	grid-template-areas: "the-fives user-index";
	grid-gap: 30px;
}

#splash {
	grid-area: feed-header;
	background-color: #ffc017;
	display: grid;
	grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr;
	grid-template-rows: 1fr;
	grid-template-areas: ". quote . globe .";

	.splash-quote {
		grid-area: quote;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		h4 {
			font-size: 35px;
		}
		p {
			text-align: right;
		}
	}
	.globe-icon {
		margin-top: 85px;
		grid-area: globe;
		font-size: 300px;
	}
}

#users-index {
	grid-area: user-index;
	margin-left: 15px;
	// border: 1px solid gray;
	h3 {
		text-align: center;
	}

	#user-index-list {
		list-style-type: none;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		height: auto;
		width: 100%;
		height: 100%;
		margin: 0 auto;
		grid-gap: 2px;
		grid-template-areas:
			"uii1 uii2 uii3"
			"uii4 uii5 uii6"
			"uii7 uii8 uii9";
		div {
			svg {
				margin: 0 auto;
				display: block;
				font-size: 3em;
				margin-bottom: 20px;
				margin-top: 15px;
			}
			p {
				text-align: center;
				color: #5f6468;
			}
		}
		#user-item-0 {
			grid-area: uii1;
		}
		#user-item-1 {
			grid-area: uii2;
		}
		#user-item-2 {
			grid-area: uii3;
		}
		#user-item-3 {
			grid-area: uii4;
		}
		#user-item-4 {
			grid-area: uii5;
		}
		#user-item-5 {
			grid-area: uii6;
		}

		#user-item-6 {
			grid-area: uii7;
		}
		#user-item-7 {
			grid-area: uii8;
		}
		#user-item-8 {
			grid-area: uii9;
		}
		#user-item-0,
		#user-item-1,
		#user-item-2,
		#user-item-3,
		#user-item-4,
		#user-item-5,
		#user-item-6,
		#user-item-7,
		#user-item-8 {
			transition: box-shadow 0.3s ease-out;
		}
		#user-item-0:hover,
		#user-item-1:hover,
		#user-item-2:hover,
		#user-item-3:hover,
		#user-item-4:hover,
		#user-item-5:hover,
		#user-item-6:hover,
		#user-item-7:hover,
		#user-item-8:hover {
			box-shadow: 1px 1px 10px gray;
		}
	}
}

#the-fives {
	grid-area: the-fives;
	// border: 1px solid gray;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	height: 500px;
	list-style-type: none;
	p,
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 0;
	}
	// width: 100vw;
	// margin: 0 auto;
	grid-gap: 5px;
	grid-template-areas:
		"big s1"
		"big s2"
		"big s3"
		"big s4";
	div {
		height: 120px;
		overflow: hidden;
	}

	#the-fives-0 {
		grid-area: big;
		height: auto;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;

		div {
			overflow: hidden;
			height: 50%;
		}
		a {
			margin-bottom: 50px;
			display: block;
			margin-bottom: 50px;
			margin-top: 30px;
			display: block;
			padding-left: 15px;
			h3 {
				font-weight: 500;
			}
			div {
				display: flex;
				flex-direction: row;
				h2 {
					line-height: 1.5em;
				}
				h4 {
					font-weight: 400;
					color: #5f6468;
					margin-right: 40px;
					line-height: 1.5em;
				}
				p {
					color: #5f6468;
					line-height: 1.5em;
				}
			}
		}
		img {
			// overflow: hidden;
			height: 100%;
			width: auto;
			margin: 0 auto;
		}
	}
	#the-fives-1 {
		grid-area: s1;
	}
	#the-fives-2 {
		grid-area: s2;
	}
	#the-fives-3 {
		grid-area: s3;
	}
	#the-fives-4 {
		grid-area: s4;
	}
	#the-fives-0,
	#the-fives-1,
	#the-fives-2,
	#the-fives-3,
	#the-fives-4 {
		transition: box-shadow 0.3s ease-in;
	}
	#the-fives-0:hover,
	#the-fives-1:hover,
	#the-fives-2:hover,
	#the-fives-3:hover,
	#the-fives-4:hover {
		box-shadow: 3px 3px 5px gray;
	}

	#the-fives-1,
	#the-fives-2,
	#the-fives-3,
	#the-fives-4 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		li {
			width: 100%;
		}
		a {
			h2 {
				font-size: 1.2em;
			}
			h3 {
				font-size: 0.8em;
			}
			div {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				h4 {
					font-weight: 400;
					color: #5f6468;
					// margin-right: 40px;
					// line-height: 1.5em;
				}
				p {
					color: #5f6468;
					// line-height: 1.5em;
				}
			}
		}
		div {
			img {
				height: 100%;
				width: auto;
				display: block;
				margin: 0 auto;
			}
			overflow: hidden;
			padding-left: 5px;
		}
	}
}

#the-sixes {
	grid-area: the-sixes;
	width: 80vw;
	margin: 0 auto;
	h1 {
		margin: 0;
	}
	ul {
		list-style-type: none;
		height: 300px;
		// border: 1px solid gray;
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2px;
		grid-template-areas:
			"six-1 six-2 six-3"
			"six-4 six-5 six-6";

		margin: 0;
		padding-inline-start: 0;
		.sixes-item {
			height: 110px;
			p,
			h2,
			h3,
			h4 {
				margin: 0;
			}
		}
		#six-0,
		#six-1,
		#six-2,
		#six-3,
		#six-4,
		#six-5 {
			transition: box-shadow 0.3s ease-out;
			margin: 5px;
			padding: 10px;
			p {
				color: #5f6468;
			}
			h2 {
			}
			h3 {
				font-weight: 400;
				color: #5f6468;
			}
			h4 {
				font-weight: 500;
			}
			h5 {
			}
		}
		#six-0:hover,
		#six-1:hover,
		#six-2:hover,
		#six-3:hover,
		#six-4:hover,
		#six-5:hover {
			box-shadow: 2px 2px 10px gray;
		}
		#six-0 {
			grid-area: six-1;
		}
		#six-1 {
			grid-area: six-2;
		}
		#six-2 {
			grid-area: six-3;
		}
		#six-3 {
			grid-area: six-4;
		}
		#six-4 {
			grid-area: six-5;
		}
		#six-5 {
			grid-area: six-6;
		}
	}
}
#feed-div {
	grid-area: feed-div;
	margin: 0 auto;
	display: grid;
	width: 80vw;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "feed footer";
}
#feed {
	// width: 60vw;

	grid-area: feed;
	list-style-type: none;
	.feed-item:hover {
		box-shadow: 2px 2px 10px gray;
	}
	.feed-item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 10px;
		padding: 20px 5px;
		transition: box-shadow 0.3s ease-out;

		.feed-item-info {
			width: 40vw;
			min-width: 300px;
			h3 {
				color: #5f6468;
				font-weight: 400;
			}
			.feed-item-footer {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.feed-footer-info {
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					width: 200px;
					p {
						display: block;
						color: #5f6468;
					}
				}
				.feed-footer-icon {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 50px;
					margin-right: 50px;
					p {
						color: #5f6468;
					}
				}
			}
		}
		.feed-item-img {
			// border: 1px solid gray;
			img {
				height: auto;
				width: 200px;
			}
		}
	}
}

#footer {
	// width: 30vw;
	grid-area: footer;
	padding-left: 20px;
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		padding-inline-start: 0;

		li {
			margin-right: 2vw;
			color: gray;
		}
	}
	.about {
		display: flex;
		justify-content: space-evenly;
		// margin-top: 150px;
		.about-link {
			height: 50px;
			width: 50px;
		}
		.tooltip a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			.tooltip-text {
				opacity: 0;
				transition: opacity 0.3s ease-out;
				text-align: center;
				background: #44a341;
				border-radius: 5px;
				color: white;
				padding: 10px;
				margin-top: 10px;
			}
		}
		.tooltip:hover {
			.tooltip-text {
				opacity: 1;
			}
		}
	}
}
.inline-space::before {
	content: "  ";
	display: inline-block;
	width: 20px;
}

#loading {
	height: 150px;
	// border: 1px solid gray;
	h1 {
		display: block;
		margin: 40px auto;
		text-align: center;
		width: 50%;
		color: lightgrey;
		background-color: #44a341;
		border-radius: 5px;
	}
}
