#user-show {
	grid-area: main;
	display: grid;
	width: 90vw;
	margin: 0 auto;
	grid-template-rows: 1fr 400px 350px;
	grid-template-columns: 0.2fr 1fr 0.2fr;
	grid-template-areas:
		"sidebar story ."
		". . ."
		". . .";
	.story-sidebar {
		grid-area: sidebar;
		position: sticky;
		margin-top: 150px;
		top: 300px;
		min-width: 200px;
	}
	.story-show {
		grid-area: story;

		h1 {
			text-align: center;
			font-size: 3em;
			line-height: 1.5em;
		}
		.story-show-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			#story-header-info {
				margin-left: 40px;
				display: flex;
				flex-direction: row;
				width: 130px;
				justify-content: space-between;
				text-align: center;
				h5 {
					font-size: 1.2em;
				}
				p {
					color: #5f6468;
					line-height: 0.8em;
				}
			}
			#story-header-nav {
				margin-right: 40px;
				width: 45px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				color: #5f6468;
				svg {
					margin-top: auto;
					margin-bottom: 10px;
				}
			}
			span {
				font-size: 2em;
			}
		}
		img {
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 30px;
			display: block;
		}
		footer {
			.bookmark-icon,
			.dots-icon {
				margin: 0 20px;
				color: #5f6468;
				font-size: 1.2em;
			}
			button {
				border: 0;
				color: #5f6468;
				margin: 0 20px;
				font-size: 1.2em;
			}
		}
	}

	.story-show-body {
		color: #131917;
		width: 90%;
		margin: 0 auto;

		p {
			line-height: 1.5em;
			margin-bottom: 20px;
		}
	}
}
.story-sidebar {
	h3 {
		font-weight: 600;
	}
	p {
		color: #5f6468;
		font-size: 0.8em;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 30px;
		button {
			margin: 20px 0;
			border: 0;
			font-size: 1.5em;
			color: #5f6468;
			cursor: pointer;
		}
		.bookmark-icon {
			font-size: 1.5em;
			padding-left: 6px;
			color: #5f6468;
		}
	}
}
#post-form-toggle {
	border: 1px lightgrey solid;
	border-radius: 5px;
	background-color: transparent;
	height: 150px;
	width: 167px;
	cursor: pointer;
	transition: background 0.3s linear;
}
#post-form-toggle:hover {
	background: #44a341;
	border-radius: 20px;
	h3 {
		color: lightgrey;
	}
}
#comment-form-page {
	margin: 0 auto;
	width: 100%;
	button {
		border: 0;
		background-color: transparent;
	}
	textarea {
		margin-top: 20px;
		height: 150px;
	}
	#comment-form-header {
		h1 {
			font-weight: 400;
			color: #5f6468;
			font-size: 1em;
		}
	}
	#comment-form {
		textarea {
			border: 0.5px solid lightgrey;
			border-radius: 3px;
		}
	}
}
.comment-item {
	padding-left: 10px;
	div {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		header {
			padding-left: 5px;
			color: #5f6468;
		}
		section {
			margin-top: 15px;
			margin-bottom: 10px;
			width: 70%;
		}
		aside {
			color: #5f6468;
			font-size: 1.2em;
			top: -5px;
			right: 5px;
		}
	}
}
