// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: "Noto Sans", sans-serif;
	a,
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-decoration: none;
		color: black;
		margin: 0;
	}
}
* {
	outline: none;
}
textarea {
	resize: none;
	overflow: auto;
}
ul {
	padding-inline-start: 0;
	list-style: none;
}
