// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: "Noto Sans", sans-serif;
}

#header {
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	border-bottom: 1px solid darkgrey;
	h1 {
		width: 400px;
		display: block;
		margin: 20px auto;
	}

	.nav-links {
		// border: 1px solid black;
		border-bottom: none;
		position: absolute;
		right: 3%;
		top: 40px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		a {
			position: relative;
			text-align: center;
			padding: 5px 10px;
			margin-left: 5px;
			margin-bottom: 5px;
			// color: black;
			text-decoration: none;
			font-weight: bold;
			border: 1px solid darkgrey;
			border-radius: 5px;
		}
		#login {
			color: rgb(46, 46, 46);
		}
		#signup {
			color: rgb(204, 204, 204);
			background-color: rgb(24, 24, 24);
		}
	}
	.message {
		position: absolute;
		right: 4%;
		top: 40px;
		display: flex;
		flex-direction: row;
		h2 {
			position: relative;
			text-align: center;
			padding: 5px 10px;
			margin: 0;
			font-weight: 500;
			font-size: 0.8em;
			color: rgb(70, 70, 70);
			a {
				padding-left: 5px;
				font-weight: 550;
				font-size: 2em;
				color: black;
				text-decoration: none;
			}
		}
		#logout {
			border: 0;
			background-color: transparent;
			color: rgb(24, 24, 24);
			position: relative;
			top: 20px;
			left: 10px;
			text-align: center;
			padding: 5px 10px;
			cursor: pointer;
			height: 30px;
			border-radius: 3px;
			border-bottom: 1px solid darkgrey;
		}
	}
	.logo {
		text-decoration: none;
		text-align: center;
		color: rgb(22, 22, 22);
		font-size: 1.3em;
	}
}

#session-form {
	color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: auto;
	margin: 50px auto;
	border: 1px solid darkgrey;
	border-radius: 2px;

	h1 {
		text-align: center;
	}
	#session-errors {
		// list-style-type: none;
		position: absolute;
		bottom: 15%;
		width: 200px;
		// border: 1px solid darkgrey;
		li {
			color: salmon;
			font-weight: 600;
			list-style-position: inside;
			padding-inline-start: 0;
		}
	}
	.form-link {
		position: relative;
		top: -10px;
		left: 30%;
		text-decoration: none;
		color: black;
	}
	form {
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	button {
		width: 70px;
		height: 1.8em;
		border-radius: 3px;
		color: white;
		border: 0;
		background-color: black;
		cursor: pointer;
	}
}
.profile {
	border: 1px solid darkgrey;
	background-color: lightblue;
	width: 600px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
}
#users-index {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid darkgrey;
	width: 300px;

	.user-index-item {
		padding: 10px;
		margin: 0 5px;
		text-decoration: none;
		text-align: center;
		width: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: black;
		.user-icon {
			font-size: 2.5em;
		}
	}

	ul {
		margin: 50px auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style-type: none;
		list-style-position: inside;
	}
}
#demo-button {
	border-radius: 3px;
	cursor: pointer;
	background-color: #2d424a;
	color: lightgray;
	padding: 5px;
	font-size: 0.7em;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
}
